.content{
	margin-top: 0.1rem;
	display: inline !important;
}
.breadcrumb{
	background-color: white;
	border-bottom: 0.01rem solid #e5e5e5;
}

.list-body > div div{
	overflow-wrap:break-word;
	border: none;
}
.list-body img{
	padding: 0;
	width:0.8rem;
	border: 0.03rem solid #e5e5e5;
    display: inline;
    margin-bottom: 0.1rem;
}
.list-body p{
	vertical-align: top;
}