.title{
	height: 0.5rem;
	background-color: #6d7f95;
	color: #e5e5e5;
	text-align: center;
	line-height: 0.5rem;
	font-size: 0.12rem;

}
.content{
	margin-top: 0.1rem;
    display: inline !important;
}

.action-list{
	border: 0.01rem solid #e5e5e5;
	padding: 0;
	padding-bottom: 0.1rem;
}
.breadcrumb>li+li:before{
	content: ">";
}
.breadcrumb{
	background-color: white;
	border-bottom: 0.01rem solid #e5e5e5;
}
.action-list-body h3{
	color: blue;
	font-size: 0.15rem;
	margin: 0.08rem 0; 
}
.action-list-body p{
	margin-bottom: 0.15rem;
}
.action-list-body > div{
	padding: 0 0.15rem;
	border-bottom: 0.01rem solid #e5e5e5;
}
.action-list-body >div>div>img{
	padding: 0;
	padding-left: 0.15rem;
}